/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Dec, 2020, 12:51:00 PM
    Author     : Lenovo
*/

body{
    background-color: #f4f0ec;
}

.home-page{
    font-size:20px;
}

